<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDakRh5VwitCP5OoDjy3jyEZ73CT5k_b4g</string>
	<key>GCM_SENDER_ID</key>
	<string>445204037763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>noteapp-8a06c</string>
	<key>STORAGE_BUCKET</key>
	<string>noteapp-8a06c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445204037763:ios:b8ae3e5e367fd672b85bb6</string>
</dict>
</plist>